<!DOCtype html>
<html>
	<head>
		<title>login</title>


		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
<td colspan=2><center><font size=4><b>
         <div class="background-image"></div>
         <div class="content">
		 </div>
		<!--Bootstrap-->
		<link href="css/bootstrap.css" rel="stylesheet">
	</head>




	<body background="https://s-media-cache-ak0.pinimg.com/originals/45/bb/64/45bb6482b0c8b89a83b07a693761c632.jpg">



         </div>

		<div>
			<h1>INSTAGRAM CLONE</h1>
			<h3>LOGIN</h3>
			<form method="post">
				{% csrf_token %}


				<div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value="{{ username }}">
            </div>


            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value="{{ password }}">
            </div>
				<br/>
                <input type="submit" value="Log In"  style=font-size:10pt;color:black;background-color:#08c;border:2px;height:35px;width:90px">


			</form>

		</div>

			 </br>
		<!--Jquery library-->
		<script src="js/jquery-3.2.1.js"></script>
		<!--Bootstrap js Library-->
		<script src="js/bootstrap.js"></script>
	<div><h3>Already a user?</h3><a href="login/">Login</a> </div>
			 </b></font></center></td>
	</body>
</html>