<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
	<body background="http://3.bp.blogspot.com/-xVJxWrEIIlU/VN1lQjWR7pI/AAAAAAAACRo/4PvPVVSqUEc/s1600/27382-Unique%2BFashion%2BHD%2BWallpaperz.jpg">
    <font size="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUCCESSFULLY SIGNED UP!!!!<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please Continue To Login !
    </font>

    <td colspan=2><center><font size=4><b>
         <div class="background-image"></div>
         <div class="content">
         </div>
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login"  style="font-size:15pt;color:black;background-color:#07c;border:2px solid #336600;padding:3px;height:40px;width:80px">

    </form>
</body>
</html>